body { 
    margin:0; 
    padding:0; 
}

#map { 
    position:absolute;
    width:100%; 
    min-height:calc(100% - 56px);
}

.navbar-toggler {
    border-width: 0 !important; 
}

.bg-faded {
    background-color: #0083e0 !important;
} 

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}   

.marker-title {
    font-weight: 700;
}

.mapboxgl-popup-content {
    text-align: center;
    border-radius: 10px;
}

.mapboxgl-popup-content p {
    text-align: left;
    margin-bottom: 0;
}

.mapboxgl-ctrl-compass {
    display: none !important;
}

.tabs-to-dropdown {
    font-family: 'Montserrat', Arial, sans-serif;
}

#page-title {
    font-family: 'Calibri';
    font-size: 125%;
}

#mainbox {
    font-family: 'calibri';
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 350px;
    border: 1px solid gray;
    box-shadow: 2px 2px 5px #888;
    min-height: 250px;
    padding: 10px;
    margin: 10px;
}

#name {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 150%;
    padding: 20px;
}

#address {
    font-family: Arial, sans-serif;
    padding: 10px;
}

#website {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 10px;
}

#contact-page-title {
    text-align: center;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 150%;
    margin: 5% auto 5% auto;
}

#contact-page-body {
    text-align: center;
    font-family: 'Montserrat', Arial, sans-serif;
    width: auto;
    margin: auto 5% 5% 5%;
}
