body { 
    margin:0; 
    padding:0; 
}

#map { 
    position:absolute;
    width:100%; 
    min-height:calc(100% - 56px);
}

.navbar-toggler {
    border-width: 0 !important; 
}

.bg-faded {
    background-color: #0083e0 !important;
} 

.mapboxgl-popup {
    /* max-width: 400px; */
    max-width: 90%;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}   

.marker-title {
    font-weight: 700;
}

.mapboxgl-popup-content {
    font-family: Cantarell;
    text-align: center;
    border-radius: 10px !important;
    padding: 0 !important;
}

.mapboxgl-popup-content h4 {
    background: #0067B2;
    color: #ffffff;
    margin: 0;
    padding: 13px;
    border-radius: 10px 10px 0 0;
}

.mapboxgl-popup-content #address {
    margin: 7px 7px 4px 7px;
}

.mapboxgl-popup-content #website {
    margin: 4px 7px 7px 7px;
}

.mapboxgl-popup-content p {
    text-align: left;
    margin: 0 10px 10px 10px;
}

.mapboxgl-ctrl-compass {
    display: none !important;
}

.mapboxgl-popup-close-button {
    display: none;
}
